body{
    background-color: #DDFFDD;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 120px;
    margin-left: 80px
}
h1{
    text-align: center;
}
#Egy{
    margin-right: 120px;
    margin-left:40px
}
#Ketto{
    margin-right: 120px;
    margin-left: 40px
}
#Harom{
    margin-right: 120px;
    margin-left: 40px
}
#utvonal{
   text-align : center ;

}
